body{
    background-color: white;
}
ul .links{
        margin-left: 90px;
}
a{
    color: white;
    text-decoration: initial;
}
.links li a{
    color:#3a3a3a;
    background-color:#fafafa;
    border-radius: 0;
    padding: 0;
}
button.active, button.orgBtn {
/*    width: 88px;*/
    height: 27px;
    text-transform: none;
    font-weight: 600;
    border: 0px;
    line-height: 27px;
}
/*
button.women1{
    padding-left: 22px;
}
*/
button.active, button{
    margin-right: 10px;
}
#form-question{
    margin-bottom: 0;
}
a#mail-link{
    text-transform: capitalize;
    font-size: inherit;
    border-width: 0;
}
.tags{
    display: inline-block;
}
.orgBtn{
    background-color: #dcdcd9;
}

.active.women1, .orgBtn.women1:focus{
    background-color: #ff6a2f;
    color: white;
}
.active.women1:hover{
    color:#451F27;
}
.active.lgbt1, .orgBtn.lgbt1:focus{
    background: #57e257;
    color: white;
}
.active.lgbt1:hover{
    color:#451F27;
}
.active.poc1, .orgBtn.poc1:focus{
    background: #33c3f0;
    color: white;
}
.active.poc1:hover{
    color:#451F27;
}
.active.all {
    background: #ffe86e;
    color: white;
}

#exampleRecipientInput{
    width:60%;
}
#footer{
    padding-top:3%;
    padding-bottom: 3%;
    color: #1e2d4e;
    margin:0;
    border-top: #8c8c8c;
    border-top-style: solid;
    border-width: 1px;
    text-align: center;
    align-items: center;
    
}
.orgContainer{
    padding-bottom: 10%;
}
input{
    width:100%;
}
h3{
    margin-top:5%;
}

ul{
list-style-type:none;

}

.link{
    display: inline-block;
    padding-left:10px;
    padding-top: 0;
}
img{
    padding-top: 3%;
    max-width: 100px;
    position: absolute;
}
.listItem img{   
    max-height:100%;
}
.myText{
    padding-bottom: 2%;
    padding-left: 120px;
    line-height: 1.2;
}
.the-tags{
    display: inline-block;
    
}
#message, #footer .button{
    width: 80%;
    border-width: 0;
    background: #05053c;
    color: white;
    text-transform: capitalize;
    border-radius: 25px;
    margin-left: 30px;
}
.twelve.columns{
        position: relative;
 }

#footer .button:hover{
    color: #1E2D4E;
    background: #E1D2B1;
}
h5{
    font-weight: bold;
}
ul ul{
    padding-top: 0;
}
ul.links{      
    top: 100px;
    right: 300px;
    position: absolute;
}


/* Larger than mobile */
@media (min-width: 400px) {
    ul .links {
    margin-left: 0; 
    }
    .eight.columns {
        width: 100%;
    }
    
    .links {
        float: left;
        position:relative;
        padding-left: 0;
        margin: 0;
        padding-top: 0;
    }
    .myText {
        padding-left: 140px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    #exampleRecipientInput{
        width:100%;
    }
    .listofOrgs{
        padding-bottom: 0;
    }
    #subBtn{
        width:50%;
    }
    .link{
        margin: 0;
        width: 27px;
    }
    ul ul{
        margin:0;
        padding-top: 10%;
    }
    img{
        max-width: 100px;
    }
    .u-full-width {
        width: 100%;
    }
    #footer{
        width:auto;
        text-align: center;
        padding-left: 2%;
    }
    
}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 750px) {
    ul .links {
        right:inherit;
        top:120px;
        width:100px;
    }
    .eight.columns {
        width: 100%;
    }
    button#message {
        width: 100%;
        margin-left: 260px;
    }
    
    .links .link {
        width:33%;
        padding: 0;
    }
    .links #website {
        text-align: left;
    }
    .links #twitter {
        text-align: center;
    }
    .links #linkedin {
        text-align: right;
    }
    .links .link a {
        padding:5px;
    }
}
@media (max-width: 500px){
    button#message {
        width: 55%;
        margin-left: 0;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
     .links li a{
        padding: 6px;
        border-radius: 3px;
    }
    .link{
        padding-top:8%;  
    }
    #question{
        position: absolute;
        margin-left: 70%;
        top: 20%;
    }
/*
    .eight.columns {
        width: 100%;
    }
*/
    #footer{
        text-align: left;
    }
    #footer h5, #footer p {
        margin-left: 60px;
        line-height: 40%;
    }
    #footer p{
        
    }
    #footer .button{
        margin-left: -40px;
    }
    li h5{
        width: 75%;
    }
    ul .links {
        position: absolute;
        top: 20px;
        right: 0px;
    }
    a#mail-link{
    float: right;
    }
    #message {
        position: relative;
    }
    #message a{
        position: absolute;
        top: 3%;
    }
    #textfooter {
        margin-top: 30px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    img{
        max-width: 100px;
    }
    #question{
    position: absolute;
    margin-left: 70%;
    top: 20%;
    }
    a#mail-link{
    float: right;
    }
    #message a {
        margin-left: -65px;
        top: -1px;
    }
    #message{
        width:50%;
        margin-left: 110px;
        margin-top: 20px;
    }
    #footer h5, #footer p{
        margin-left: 110px;
    }
    #footer .button {
        margin-left: -74px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
@media screen and (max-width:360px){
    ul .links {
        left: -90px;
    }
}